:root {
  --primaryColor: #0079a5;
}
html {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-print-color-adjust: exact;
}

a {
  color: #007878;
  text-decoration: none;
  font-weight: 600;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font-weight: inherit;
}

ul {
  margin-top: 7px;
  margin-bottom: 0;
  padding-left: 10px;
}
ul li {
  list-style-type: none;
}
ul li:before {
  content: '›';
  font-size: 18px;
  padding-right: 5px;
}

body {
  font-size: 0.83rem;
  margin-top: 10px;
  max-width: 19cm;
  margin-right: auto;
  margin-left: auto;
}

header {
  display: flex;
  justify-content: space-between;
}

.civilite h1 {
  color: var(--primaryColor);
  font-size: 1.4rem;
}
.qualification h2 {
  color: var(--primaryColor);
  font-weight: 400;
}

main section h2 {
  color: var(--primaryColor);
  text-align: right;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 7px;
  text-transform: uppercase;
  margin-top: 0.85em;
  font-size: 1.5em;
  font-weight: normal;
}

.stack,
.others {
  display: flex;
}
em {
  font-style: normal;
  font-weight: 600;
}
.duration {
  color: #757575;
  margin-right: 10px;
  font-weight: 400;
}
h3 {
  color: var(--primaryColor);
  font-weight: 400;
  font-size: 1.3em;
  margin-top: 0.8em;
}
h3 em {
  font-weight: 300;
}
.environnement-technique {
  top: 0.3cm;
  position: relative;
  color: #002633;
  font-style: italic;
  float: right;
  width: 5cm;
  margin: 0 0 0 0.4cm;
  padding: 0.35cm;
  background: #f2f2f2;
}
.environnement-technique strong {
  display: block;
  font-weight: 400;
  padding: 0 0 0.2cm 0;
}

.conference h2 {
  margin-top: 0;
}
